[Unit]
Description=Delayed load for USB LAN7800
After=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/sbin/modprobe lan78xx
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
