# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-poky \
  ##OEROOT##/meta-yocto-bsp \
  ##OEROOT##/../meta-arm/meta-arm \
  ##OEROOT##/../meta-arm/meta-arm-toolchain \
  ##OEROOT##/../meta-clang \
  ##OEROOT##/../meta-mediatek-bsp \
  ##OEROOT##/../meta-mediatek-tsn \
  ##OEROOT##/../meta-mediatek-bluedroid \
  ##OEROOT##/../meta-mediatek-demo \
  ##OEROOT##/../meta-nn \
  ##OEROOT##/../meta-adlink-mtk \
  ##OEROOT##/../meta-stress-test \
  ##OEROOT##/../meta-security \
  ##OEROOT##/../meta-openembedded/meta-multimedia \
  ##OEROOT##/../meta-openembedded/meta-filesystems \
  ##OEROOT##/../meta-openembedded/meta-networking \
  ##OEROOT##/../meta-openembedded/meta-oe \
  ##OEROOT##/../meta-openembedded/meta-python \
  ##OEROOT##/../meta-openembedded/meta-perl \
  ##OEROOT##/../meta-rity/meta \
  ##OEROOT##/../meta-rity/meta-rity-bringup \
  ##OEROOT##/../meta-rity/meta-rity-bsp \
  ##OEROOT##/../meta-rity/meta-rity-demo \
  ##OEROOT##/../meta-tensorflow \
  "

# lec-mtk1200 specific layers
BBLAYERS += "${@'${TOPDIR}/../src/meta-browser/meta-chromium' if d.getVar('MACHINE') == 'lec-mtk1200' and os.path.exists(d.getVar('TOPDIR') + '/../src/meta-browser/meta-chromium') else ''}"
BBLAYERS += "${@'${TOPDIR}/../src/meta-lts-mixins' if d.getVar('MACHINE') == 'lec-mtk1200' and os.path.exists(d.getVar('TOPDIR') + '/../src/meta-lts-mixins') else ''}"

# osm-mtk510 specific layer
BBLAYERS += "${@'${TOPDIR}/../src/meta-qt5' if d.getVar('MACHINE') == 'osm-mtk510' and os.path.exists(d.getVar('TOPDIR') + '/../src/meta-qt5') else ''}"
